# 6.8 GNN, JPDA 及び MHTの性能比較

　GNN、JPDA、MHTといった手法はこの数十年でしばしば提案されてきたが、その相対的な性能比較に関する研究は少ない。本章では単一目標に対して誤警報確率を変化させた場合のトラック確定性能及び管理性能についてモンテカルロ法を用いて比較する。

In [1]:
%matplotlib notebook
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.options.display.precision = 2

In [2]:
data = np.array([
    [1.e-6, np.nan, np.nan, np.nan, 0.91, 1.00, np.nan, 0.98, 1.00, np.nan],
    [1.e-5, 0.99, np.nan, np.nan, 0.49, 0.90, np.nan, 0.86, 0.97, np.nan],
    [3.e-5, 0.94, np.nan, np.nan, 0.16, 0.65, np.nan, 0.63, 0.94, np.nan],
    [6.e-5, 0.80, 0.995, np.nan, 0.11, 0.36, np.nan, 0.41, 0.87, np.nan],
    [1.e-4, 0.64, 0.98, 1.00, 0.00, 0.11, 0.92, 0.27, 0.74, 0.96],
    [3.e-4, 0.14, 0.15, 0.98, np.nan, 0.00, 0.76, 0.11, 0.25, 0.98],
    [6.e-4, 0.00, 0.00, np.nan, np.nan, np.nan, np.nan, 0.05, 0.13, np.nan],
    [1.e-3, np.nan, np.nan, 0.78, np.nan, np.nan, 0.26, 0.00, 0.00, 0.64],
])

df_paper = pd.DataFrame(data)
df_label = []
df_label.extend(['PFA'])
df_label.extend(['Case1 GNN', 'Case1 PDA', 'Case1 MHT'])
df_label.extend(['Case2 GNN', 'Case2 PDA', 'Case2 MHT'])
df_label.extend(['Case3 GNN', 'Case3 PDA', 'Case3 MHT'])
df_paper.columns = df_label

df_sim = pd.DataFrame(np.full((8,10), np.nan))
df_sim.columns = df_label
df_sim["PFA"] = pd.Series([1.e-6, 1.e-5, 3.e-5, 6.e-5, 1.e-4, 3.e-4, 6.e-4, 1.e-3])

In [3]:
%%time
import IRSTexample

res = IRSTexample.generate_irst_example_p372(PD=0.99, PFA=1e-5, is_maneuver_enabled=True).estimate_track_statistics(n_scan=65, n_run=100)
df_sim["Case1 GNN"][1] = res["Nm"][0, 10:].mean()

res = IRSTexample.generate_irst_example_p372(PD=0.99, PFA=3e-5, is_maneuver_enabled=True).estimate_track_statistics(n_scan=65, n_run=100)
df_sim["Case1 GNN"][2] = res["Nm"][0, 10:].mean()

res = IRSTexample.generate_irst_example_p372(PD=0.99, PFA=6e-5, is_maneuver_enabled=True).estimate_track_statistics(n_scan=65, n_run=100)
df_sim["Case1 GNN"][3] = res["Nm"][0, 10:].mean()

res = IRSTexample.generate_irst_example_p372(PD=0.99, PFA=1e-4, is_maneuver_enabled=True).estimate_track_statistics(n_scan=65, n_run=100)
df_sim["Case1 GNN"][4] = res["Nm"][0, 10:].mean()

res = IRSTexample.generate_irst_example_p372(PD=0.99, PFA=3e-4, is_maneuver_enabled=True).estimate_track_statistics(n_scan=65, n_run=100)
df_sim["Case1 GNN"][5] = res["Nm"][0, 10:].mean()

Wall time: 1min 37s

トラック管理確率について、文献と本プログラムで比較検証した。  （上段：文献値、下段：計算値）  
＊＊＊  
＊＊＊  
＊＊＊

In [4]:
df_paper

,PFA,Case1 GNN,Case1 PDA,Case1 MHT,Case2 GNN,Case2 PDA,Case2 MHT,Case3 GNN,Case3 PDA,Case3 MHT
0,1.00e-06,NaN,NaN,NaN,0.91,1.00,NaN,0.98,1.00,NaN
1,1.00e-05,0.99,NaN,NaN,0.49,0.90,NaN,0.86,0.97,NaN
2,3.00e-05,0.94,NaN,NaN,0.16,0.65,NaN,0.63,0.94,NaN
3,6.00e-05,0.80,0.99,NaN,0.11,0.36,NaN,0.41,0.87,NaN
4,1.00e-04,0.64,0.98,1.00,0.00,0.11,0.92,0.27,0.74,0.96
5,3.00e-04,0.14,0.15,0.98,NaN,0.00,0.76,0.11,0.25,0.98
6,6.00e-04,0.00,0.00,NaN,NaN,NaN,NaN,0.05,0.13,NaN
7,1.00e-03,NaN,NaN,0.78,NaN,NaN,0.26,0.00,0.00,0.64

In [5]:
df_sim

,PFA,Case1 GNN,Case1 PDA,Case1 MHT,Case2 GNN,Case2 PDA,Case2 MHT,Case3 GNN,Case3 PDA,Case3 MHT
0,1.00e-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.00e-05,0.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3.00e-05,0.92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6.00e-05,0.82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.00e-04,0.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3.00e-04,0.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,6.00e-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1.00e-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN